body {
  font-family: 'Poppins', sans-serif;
}

section {
  /* height: 500px; */
  background-color: rgb(181, 228, 222);
  /* border: solid black 1px; */
}

/* HERO PAGE */

.hero {
  background-color: #1C1D25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

.logo {
  height: 85px;
  margin: 30px;
}

nav {
  display: flex;
  justify-content: space-between;
}

ul {
  display: flex;
  list-style-type: none;
  width: 500px;
  justify-content: space-around;
  font-size: 30px;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}


p.title {
  margin: 0;
  font-size: 50px;
  font-weight: 300;
}


.hero-area {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.hero-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.socials {
  padding-bottom: 200px;
  margin: 20px;
}

/* BUTTON */

.button {
  width: 200px;
  height: 55px;
  border-radius: 35px;
  background-color: rgb(228, 104, 145);
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: rgb(255, 189, 89);
}

.button:active {
  background-color: rgb(119, 201, 216);
  color: #808080;
}

/* ABOUT ME */

.about {
  display: flex;
  justify-content: space-around;
  padding: 40px;
}

.personal-info {
  font-size: 30px;
  word-spacing: 8px;
}

.headshot {
  width: 350px;
  border-radius: 150px;
  padding-top: 50px;
  margin: 10px;
}

.headshot-container {
  display: flex;
  align-items: center;
}

/* PROJECTS */

.projects {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 80px;
}

.project-container {
  display: flex;
  justify-content: space-around;
}

.project-card {
  width: 450px;
  height: 500px;
  /* border: 1px solid black; */
  box-shadow: 5px 5px 20px rgb(151, 148, 148);
}

.project-img {
  margin-top: 25px;
  width: 430px;
  height: 400px;
  object-fit: cover;
  border-radius: 25px;
}

p.project-description {
  font-size: 15px;
  font-weight: 300;
}

/* FOOTER */

footer {
  height: 500px;
  background-color: black;

}